<a href="https://colab.research.google.com/github/minkim7704/DataScience/blob/main/%5BPython_Programming_3%5D_List_Tuple_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [1]:
list = []
list = [1, ['a', 'A', 1.23], 'a', 'A', True] # list in list

In [2]:
list[1]

['a', 'A', 1.23]

In [3]:
list[1][1] # 'A' in the list[1]

'A'

#### 051 리스트 생성
2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다.  <br/>
영화 제목을 movie_rank 이름의 리스트에 저장해보세요.  <br/>
(순위 정보는 저장하지 않습니다.) <br/>
 <br/>
영화 순위	 <br/>
1 닥터 스트레인지 <br/>
2 스플릿 <br/>
3 럭키

In [4]:
movie_rank = []

movie_rank.append('닥터 스트레인지')
movie_rank.append('스플릿')
movie_rank.append('럭키')
# movie.rank.extend(['닥터 스트레인지', '스플릿', '럭키'])

movie_rank

['닥터 스트레인지', '스플릿', '럭키']

#### 052 리스트에 원소 추가
051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [5]:
movie_rank.append('배트맨')
# movie.rank.extend(['배트맨'])

movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

#### 053 movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.   <br/>
"슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.  <br/>
  <br/>
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [6]:
movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

#### 054 movie_rank 리스트에서 '럭키'를 삭제하라.  <br/>
  <br/>
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [7]:
movie_rank.remove('럭키')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

#### 056 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.  <br/>
  <br/>
lang1 = ["C", "C++", "JAVA"]  <br/>
lang2 = ["Python", "Go", "C#"]  <br/>
  <br/>
실행 예:  <br/>
print(langs)  <br/>
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [8]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

#### 057. 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)  <br/>
  <br/>
nums = [1, 2, 3, 4, 5, 6, 7]  <br/>
  <br/>
실행 예:  <br/>
max:  7  <br/>
min:  1

In [9]:
nums = [1, 2, 3, 4, 5, 6, 7]

print('max:', max(nums), 'min: ', min(nums))

max: 7 min:  1

#### 058. 다음 리스트의 합을 출력하라.  <br/>
  <br/>
nums = [1, 2, 3, 4, 5]  <br/>
  <br/>
실행 예: 15  <br/>

In [10]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

#### 059. 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [11]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

len(cook)

12

#### 060. 다음 리스트의 평균을 출력하라.  <br/>
  <br/>
nums = [1, 2, 3, 4, 5]  <br/>
  <br/>
실행 예: 3.0

In [12]:
# mean(nums) 안되네용
print(sum(nums) / len(nums))

3.0

In [13]:
import numpy as np
nums = [1,2,3,4,5]
np.mean(nums)

3.0

In [14]:
import statistics
statistics.mean(nums)

3

#### 061. price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170] <br/>
 <br/>
출력 예시: <br/>
[100, 130, 140, 150, 160, 170]

In [15]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

#### 062. 슬라이싱을 사용해서 홀수만 출력하라. <br/>
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br/>
 <br/>
실행 예:  <br/>
 [1, 3, 5, 7, 9]

In [16]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[::2]

[1, 3, 5, 7, 9]

#### 063. 슬라이싱을 사용해서 짝수만 출력하라. <br/>

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br/>
 <br/>
실행 예:  <br/>
 [2, 4, 6, 8, 10]

In [17]:
nums[1::2]

[2, 4, 6, 8, 10]

#### 064. 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라. <br/>

nums = [1, 2, 3, 4, 5] <br/>
 <br/>
실행 예:  <br/>
[5, 4, 3, 2, 1]

In [18]:
nums = [1, 2, 3, 4, 5]

nums[::-1]

[5, 4, 3, 2, 1]

## Join Method

#### 065. interest 리스트에는 아래의 데이터가 바인딩되어 있다.

- interest = ['삼성전자', 'LG전자', 'Naver']
#### interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

- 출력 예시:삼성전자 Naver

In [19]:
interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[::2])

print(interest[0], interest[2])

print(' '.join(interest[::2]))

['삼성전자', 'Naver']
삼성전자 Naver
삼성전자 Naver

#### 066 join 메서드  <br/>
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  <br/>
출력 예시:   <br/>
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [20]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(interest[0], interest[1], interest[2], interest[3], interest[4])

print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

#### 067 join 메서드  <br/>
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  <br/>
출력 예시:  <br/>
 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [21]:
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

#### 068 join 메서드  <br/>
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  <br/>
- 출력 예시:  <br/>
삼성전자  <br/>
LG전자  <br/>
Naver  <br/>
SK하이닉스  <br/>
미래에셋대우

In [22]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

## Split Method

#### 069 문자열 split 메서드  <br/>
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.  <br/>
  <br/>
string = "삼성전자/LG전자/Naver"  <br/>
  <br/>
이를 interest 이름의 리스트로 분리 저장하라.  <br/>
  <br/>
실행 예시 :  <br/>
 ['삼성전자', 'LG전자', 'Naver']

In [23]:
string = "삼성전자/LG전자/Naver"

string = string.split('/')

print(string)

['삼성전자', 'LG전자', 'Naver']

#### 070 리스트 정렬  <br/>
리스트에 있는 값을 오름차순으로 정렬하세요.  <br/>
  <br/>
data = [2, 4, 3, 1, 5, 10, 9]

In [24]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort(reverse=True)
  #reverse=True : 오름차순
  #reverse=False : 내림차순
data

[10, 9, 5, 4, 3, 2, 1]

# Tuple

In [25]:
tuple = (1, ["a", "A", 1.23], "a","A", 2, 2,  1.23, True)
tuple2 = (1, "a","A", 2, 2,  1.23, True)
print('tuple:', tuple)
print('tuple2:', tuple2)
print('type(tuple):', type(tuple))

tuple: (1, ['a', 'A', 1.23], 'a', 'A', 2, 2, 1.23, True)
tuple2: (1, 'a', 'A', 2, 2, 1.23, True)
type(tuple): <class 'tuple'>

In [26]:
tuple[:]

(1, ['a', 'A', 1.23], 'a', 'A', 2, 2, 1.23, True)

In [27]:
tuple[1:3]

(['a', 'A', 1.23], 'a')

In [28]:
print("'a' index, 'a' location: ", tuple.index('a'))
print(tuple.index(1.23))

'a' index, 'a' location:  2
6

In [29]:
print(tuple.count(2))
print(tuple.count('a'))

2
1

#### 072. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. <br/>
#### 영화 제목을 movie_rank 이름의 튜플에 저장하라.  <br/>
(순위 정보는 저장하지 않는다.) <br/>
 <br/>
#### 순위	영화 <br/>
1	닥터 스트레인지 <br/>
2	스플릿 <br/>
3	럭키 <br/>

In [30]:
movie_rank = ()

movie_rank

()

In [31]:
movie_rank = ('doctor', 'split', 'lucky')

movie_rank

('doctor', 'split', 'lucky')

#### 074. 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.
 <br/>
t = (1, 2, 3) <br/>
t[0] = 'a'

In [32]:
t = (1,2,3)
t[0]
# t[0] = 'a'
# 튜플은 한 번 생성되면 변경 불가능

1

#### 075 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. <br/>
t가 바인딩하는 데이터 타입은 무엇인가? <br/>
 <br/>
t = 1, 2, 3, 4

In [33]:
t = 1, 2, 3, 4
type(t)

tuple

#### 079. 튜플 언팩킹
다음 코드의 실행 결과를 예상하라. <br/>
 <br/>
temp = ('apple', 'banana', 'cake') <br/>
a, b, c = temp <br/>
print(a, b, c)

In [34]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

#### 080. range 함수
1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

(2, 4, 6, 8 ... 98)

In [38]:
# wh = tuple(range(2, 100, 2))
# print(wh)


## 06. 파이썬 딕셔너리
### 파이썬 딕셔너리는 순서는 없지만 key와 value 형태로 데이터를 저장합니다. 특히 key는 데이터의 레이블(label)을 지정하는 용도로 자주 사용됩니다.

In [39]:
dict1 = {"a": 1, "b": 2} #key:value
dict2 = {1: "a", 2: "b"}
dict3 = {1: True, 2: False}
dict4 = {"a":[True, False], "b":[0, 1]}
dict4

print('type(dict4): ', type(dict4))
print(dict3[1])
print(dict2[1]) #key의 value값

# dict 인덱스 [:] 사용불가


print(dict1.keys()) #key만 모아오기
print(dict1.values()) #value만 모아오기
print(dict1.items()) #키랑 밸류가 튜플형태로 묶여서 나옴
"""
  >>> dict_items([('a', 1), ('b', 2)])
"""

type(dict4):  <class 'dict'>
True
a
dict_keys(['a', 'b'])
dict_values([1, 2])
dict_items([('a', 1), ('b', 2)])

"\n  >>> dict_items([('a', 1), ('b', 2)])\n"

#### 081. 별 표현식
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. <br/>
하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다.  <br/>
튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다. <br/>
 <br/>
a, b, *c = (0, 1, 2, 3, 4, 5) <br/>
print(a) <br/>
print(b) <br/>
print(c) <br/>

In [40]:
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)

0
1
[2, 3, 4, 5]

#### 082.다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

- scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [41]:
# 우측 8개 값
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores

print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [42]:
# 가운데 8개 값

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, c = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

#### 084. 비어있는 딕셔너리 temp 이름의 비어있는 딕셔너리를 만들라.

In [43]:
temp = {}

temp

{}

#### 085. 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

- 이름	희망가격
- 메로나	1000
- 폴라포	1200
- 빵빠레	1800

In [44]:
icecream = {"메로나": 1000, "폴라포": 1200, "빵빠레" : 1800}

#### 086. 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

- 이름	희망 가격
- 죠스바	1200
- 월드콘	1500

In [45]:
icecream["죠스바"] = 1200
icecream["월드콘"] = 1500

icecream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

#### 087. 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
- 실행 예: 메로나 가격: 1000

In [47]:
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
print(list(ice.keys())[0], "price: ", ice['메로나'])

TypeError: ignored

#### 088. 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라. <br/>
<br/>
ice = {'메로나': 1000,<br/>
       '폴로포': 1200,<br/>
       '빵빠레': 1800,<br/>
       '죠스바': 1200,<br/>
       '월드콘': 1500}<br/>

In [48]:
ice['메로나'] = 1300

ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

#### 089. 다음 딕셔너리에서 메로나를 삭제하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

In [49]:
del(ice['메로나'])
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

#### 090.다음 코드에서 에러가 발생한 원인을 설명하라.

- icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
- icecream['누가바']
-- Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

In [50]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# icecream['누가바']
# 누가바가 없어서 에러

#### 091 딕셔너리 생성
아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. <br/>
딕셔너리의 이름은 inventory로 한다.

| 이름	  | 가격 | 재고  |
| ------  |-----:|------:| 
| 메로나	|  300 |    20 |
| 비비빅	|  400 |     3 |
| 죠스바	|  250 |   100 |

In [51]:
inventory = {'메로나': [300, 20],
             '비비빅': [400, 3],
             '죠스바': [250, 100]}

inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

#### 92 딕셔너리 인덱싱
inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]} <br/>
               <br/>
실행 예시:  <br/>
300 원

In [52]:
print(inventory['메로나'][0],"원")

300 원

#### 093 딕셔너리 인덱싱
inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
- 실행 예시: 20 개

In [53]:
print(inventory['메로나'][1], '개')

20 개

#### 094 딕셔너리 추가
inventory 딕셔너리에 아래 데이터를 추가하라.  <br/>
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}  <br/>

| 이름  |  가격 	| 재고 | 
|------ |--- ----:|-----:| 
| 월드콘|   500 	| 7    | <br/>
 <br/>

실행 예시:  <br/>
print(inventory)  <br/>
{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [54]:
inventory['월드콘'] = [500, 7]

inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

#### 095 딕셔너리 keys() 메서드
다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [55]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.keys()))

TypeError: ignored

####  096 딕셔너리 values() 메서드
다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [60]:
print(list(icecream.values()))

TypeError: ignored

#### 097 딕셔너리 values() 메서드
icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000} <br/>
 <br/>
출력 예시: <br/>
6700

In [56]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

sum(icecream.values())

6700

#### 098 딕셔너리 update 메서드
아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000} <br/>
new_product = {'팥빙수':2700, '아맛나':1000} <br/>
 <br/>
실행 예시: <br/>
print(icecream) <br/>
{탱크보이': 1200,  '폴라포': 1200,  '빵빠레': 1800,  '월드콘': 1500,  '메로나': 1000,  '팥빙수':2700, '아맛나':1000}

In [57]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)

print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

#### 099 zip과 dict
아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다. <br/>
 <br/>
keys = ("apple", "pear", "peach") <br/>
vals = (300, 250, 400) <br/>
 <br/>
실행 예시: <br/>
print(result) <br/>
 {'apple': 300, 'pear': 250, 'peach': 400}

In [58]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))

print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

#### 100 zip과 dict
date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라. <br/>

date = ['09/05', '09/06', '09/07', '09/08', '09/09'] <br/>
close_price = [10500, 10300, 10100, 10800, 11000] <br/>
 <br/>
실행 예시: <br/>
 print(close_table) <br/>
 {'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [59]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}